@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap');
@import "tailwindcss";


@theme {
  /* Fonts */
  --font-jost: "Jost", sans-serif;
  --font-lobster: "Lobster", sans-serif;

  /* Breakpoints */
  --breakpoint-sm: 340px;
  --breakpoint-md: 540px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1180px;
}

/* =====================
   CONTAINER
===================== */
.container {
  margin-inline: auto;
  padding-inline: 12px;
}

@media (min-width: 540px) {
  .container {
    padding-inline: 32px;
  }
}

/* =====================
   KEYFRAMES
===================== */
@keyframes move {
  50% {
    transform: translateY(-1rem);
  }
}

@keyframes move {
  50% {
    transform: translateY(-1rem);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}

/* =====================
   ANIMATION UTILITIES
===================== */
@utility animate-movingY {
  animation: move 3s linear infinite;
}

@utility  animate-movingY{
  animation: move 3s linear infinite;
}

@utility animate-scalingUp {
  animation: scaleUp 3s linear infinite;
}
body{
  @apply bg-green-950 text-white font-jost tracking-wide;
}
html{
  @apply overflow-x-hidden scroll-smooth;
}
section{
  @apply py-30 md:py-28;
}
h1{
  @apply text-3xl md:text-4xl xl:text-5xl font-bold;
}
.nav-link{
  @apply text-lg font-bold duration-300;
}
.nav-link:hover{
  @apply text-yellow-500
}
.btn{
  @apply border border-yellow-500 bg-yellow-500 rounded-md px-5 py-2 duration-300 cursor-pointer;
}
.btn span{
  @apply font-bold
}
.btn:hover{
  @apply opacity-90
}
.btn-outline{
  @apply bg-transparent
}
.btn-outline:hover{
  @apply  bg-yellow-500
}
.title{
  @apply font-lobster text-yellow-500
}
h2{
   @apply text-2xl md:text-3xl xl:text-4xl;
}
h3{
   @apply text-xl md:text-2xl xl:text-3xl;
}
.popular_card:hover img{
  @apply -top-8;
}
.swiper-pagination{
  @apply mt-8 static text-green-700;
}
.swiper-pagination-bullet{
  @apply bg-green-500 w-3 h-3;
}